<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>pearID</title>
<script src="https://kit.fontawesome.com/4553d7ab49.js" crossorigin="anonymous"></script>
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400|Roboto:300,400,500">
<meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="./css/loginstyle.css">
</head>
<body>
<canvas class="orb-canvas"></canvas>
<div class="overlay">

<div class="overlay__inner">

<h1 class="overlay__title">
Hello there, and welcome to the new
<span class="text-gradient">pearID</span>. This is a beta stage, its operational but still indev.
</h1>

<p class="overlay__description">
Make an account now, or if you have one, log in.
You're data might be deleted due to database updates.
</p>

<div class="overlay__btns">
<button class="overlay__btn overlay__btn--transparent">
<a href="/api/auth" target="_blank">
<i class="fab fa-discord"></i>&nbspEnter using discord
</a>
</button>

</div>
</div>
</div>
<script type="module" src="./loginhomescript.js"></script>
</body>
</html>
